footer {
  background: url(../images/background-footer.png) repeat-x;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
  color: #FFFFFF;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo img {
  padding: 0 25px;
}

.footer__logo h2 {
  font: 700 32px/37px 'Ubuntu', sans-serif;
}

.footer__links {
  display: flex;
  text-align: end;
  font: 400 14px/16px 'Ubuntu', sans-serif;
}

.footer__link__socialNetwork {
  margin-right: 50px;
}

.footer__link__socialNetwork li:nth-child(1) {
  padding-bottom: 15px;
}

.footer__link__socialNetwork li:nth-child(2) {
  padding-bottom: 5px;
}

.footer__links__url li:nth-child(1) {
  padding-bottom: 15px;
}

.footer__links__url li {
  padding-bottom: 5px;
}

.yearCreation {
  padding: 10px 0;
  text-align: center;
  color: #FFFFFF;
}

.yearCreation h3 {
  font: 700 16px/18px 'Ubuntu', sans-serif;
}

.yearCreation p {
  font: 400 12px/14px 'Ubuntu', sans-serif;
  padding-top: 2px;
}
