/* 
.news {
  display: block;
  padding-top: 140px;
}

.news-title {
  text-align: center;
  font: 700 36px/41px "Ubuntu", sans-serif;
  margin-bottom: 50px;
}

.news-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-family: "Ubuntu", sans-serif;
}

.news-cart {
  background: #963ff2;
  border: 3px solid #000000;
  box-shadow: inset -8px -8px 0px rgba(0, 0, 0, 0.5),
    inset 8px 8px 0px rgba(0, 0, 0, 0.5);
  
  padding: 20px;

  flex-grow: 1;

  min-width: 300px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.news-cart-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-cart-head > p {
  padding: 6px 20%;
  background: rgba(0, 0, 0, 0.25);
  font: 700 16px/18px "Ubuntu", sans-serif;
  margin-bottom: 10px;
}

.news-cart-head > h2 {
  font: 500 24px/27px "Ubuntu", sans-serif;
}

.news-cart-button {
  font: 700 16px/18px "Ubuntu", sans-serif;
  background: #e83cce;
  border: 1px solid #000000;
  box-shadow: inset -6px -5px 0px rgba(0, 0, 0, 0.25),
    inset 6px 5px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;

  padding: 12px 0;
  width: 100%;
  text-align: center;
}

.news-cart.big {
  flex-grow: 2;
  width: 40%;
}

.news-cart.big .news-cart-head {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.news-cart.big .news-cart-head > p {
  margin-bottom: 0;
}

.news-cart.big .news-cart-button {
  width: 60%;
}

@media (max-width: 850px) {
  .news-cart-head > p {
    padding: 6px 10%;
  }

  .news-cart.big .news-cart-button {
    width: 100%;
  }
} */